@keyframes colorChange {
    0% {
      color: #37b9f7;
    }
    50% {
      color: #d4429e;
    }
    100% {
      color: #2666eb;
    }
  }
  
  @keyframes colorChangeReact {
    0% {
      color: #149eca;
    }
    25% {
      color: #cd57bc;
    }
    50% {
      color: #d4429e;
    }
    100% {
      color: #149eca;
    }
  }
  
  @keyframes colorChangeDeveloper {
    0% {
      color: #2f92f1;
    }
    50% {
      color: #2666eb;
    }
    100% {
      color: #d4429e;
    }
  }
  
  @keyframes colorChangeCool {
    0% {
      color: #149eca;
    }
    25% {
      color: #cd57bc;
    }
    50% {
      color: #d4429e;
    }
    100% {
      color: #149eca;
    }
  }

  .frontend {
    animation: colorChange 5s infinite;
  }
  
  .react {
    animation: colorChangeReact 10s infinite;
  }
  
  .developer {
    animation: colorChangeDeveloper 5s infinite;
  }
  
  .cool {
    animation: colorChangeDeveloper 10s infinite;
  }