.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 2rem;
}

.contact-form {
  width: 100%;
  max-width: 600px;
}
